<div class="">
    <div class="breadcrumb">
        <h1> Gestion des Demandes de Renseignement de Prix</h1>
        <ul>
            <li><a href="">Saisie</a></li>
            <li>Demande  de Renseignement de Prix</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component importation-->

    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des Demandes de Renseignement de Prix</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <a ngbNavLink>Liste des Demandes de Renseignement  de Prix</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input [formControl]="searchControl" class="form-control form-control-rounded" id="searchWord"
                           placeholder="Rechercher une Demande de Renseignement de Prix" type="text">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="o-hidden">
                    <ngx-datatable
                      [columnMode]="'force'"
                      [footerHeight]="50"
                      [headerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]="demandePrixFiltered"
                      [limit]="4"
                      class="material fullscreen"
                      style="height: 500px; box-shadow: none; overflow-y:visible">

                      <ngx-datatable-column [maxWidth]="50">
                        <ng-template ngx-datatable-header-template>
                          Validité
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <strong *ngIf="row.valideDemandePrix == true">V</strong>
                          <!--<strong *ngIf="row.commande.valide == false">A</strong>-->
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="idDemandePrix">
                        <ng-template ngx-datatable-header-template>
                          Numéro
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Date demande
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.dateDemandePrix | date :'short' }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Observation
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.designationDemandePrix }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Date limite de depôt
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.dateLimiteDemandePrix | date :'short' }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Actions
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <!--<strong>{{ row.code }}</strong>-->
                          <button (click)="makeForm(row)" class="btn btn-primary m-1 btn-sm"
                          type="button" *ngIf="row.valideDemandePrix == false" ngbTooltip="Modifier" placement="bottom">
                            <i class="i-Pen-5"> </i>
                          </button>
                          <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1 btn-sm"
                                  type="button" *ngIf="row.valideDemandePrix == false" ngbTooltip="Supprimer" placement="bottom">
                            <i class="i-Folder-Trash"> </i>
                          </button>
                          <button (click)="valider(row, true, modalValid)" class="btn btn-outline-success m-1 btn-sm"
                                  type="button" *ngIf="row.valideDemandePrix == false" ngbTooltip="Valider" placement="bottom">
                            <i class="i-Yes"> </i>
                          </button>
                          <button (click)="valider(row, false, modalValid)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" *ngIf="row.valideDemandePrix == true" ngbTooltip="Annuler" placement="bottom">
                            <i class="i-Reload"> </i>
                          </button>
                          <button (click)="onGeneratBondClicked(modalGenerBond, row)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" *ngIf="row.valideDemandePrix == true" ngbTooltip="Générer le Bond de Commande" placement="bottom">
                            <i class="i-Mail-Send"> </i>
                          </button>
                          <button (click)="openPdfToPrint(row)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" ngbTooltip="Imprimer" placement="bottom">
                            <i class="i-File-Download"> </i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>



          <li [ngbNavItem]="2">
            <a ngbNavLink><span *ngIf="! validateForm.value.numComAchat">Nouvelle</span><span *ngIf="validateForm.value.numComAchat" span>Modifier</span> Demande de Renseignement de Prix</a>
            <ng-template ngbNavContent>

              <div class="mb-2">
                <div class="d-flex mb-5" style="margin-bottom: 0;">
                  <span class="m-auto"></span>
                  <button class="btn btn-outline-secondary mr-3" (click)="resetForm()">Annuler</button>
                  <btn-loading btnClass="btn-primary" [loading]="loading" (click)="submit()">Enrégistrer</btn-loading>
                </div>
                <form [formGroup]="validateForm">
                  <h4 class="font-weight-bold">Informations sur la Demande de Renseignement de Prix</h4>
                  <div class="row">
                      <div class="col-md" *ngIf="validateForm.value.idDemandePrix">
                          <div class="col-md form-group">
                              <label for="orderNo">Numéro DRP</label>
                              <input formControlName="idDemandePrix" type="text" class="form-control"
                                  placeholder="Numéro" readonly>
                          </div>
                      </div>
                      <div class="col-md form-group mb-3">
                        <label for="picker1">Date de Demande de Renseignement de Prix</label>
                        <div class="input-group">
                            <input formControlName="dateDemandePrix" id="picker1" class="form-control text-right" type="date"
                                >
                        </div>
                      </div>
                      <!--div class="col-md">
                        <div class="col-md form-group" >
                            <label for="orderNo">Délais de Livraison (en jours)</label>
                            <input formControlName="delaiLivraison" type="number" class="form-control"
                                placeholder="Numéro">
                        </div>
                      </div-->
                      <div class="col-md form-group mb-3">
                        <label for="picker1">Date limite de dépôt des Factures Proformat</label>
                        <div class="input-group">
                            <input formControlName="dateLimiteDemandePrix" id="picker2" class="form-control text-right"
                                type="date">

                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 form-group">
                      <label for="orderNo">Désignation (observation) </label>
                      <input formControlName="designationDemandePrix" type="text" class="form-control"
                          placeholder="Numéro">

                    </div>
                    <div class="col-md-2 form-group">
                      <button class="btn btn-primary float-right mb-4" style="margin-top: 13%; font-weight: bold;"
                      (click)="openFrsConsulterDialog(modalFrsConsulter)">Fournisseurs Consulté(s) . . .</button>
                    </div>

                    <!--div class="col-md form-group mb-3">
                      <label >Fournisseur</label>
                      <ng-select formControlName="frs">
                        <ng-option *ngFor="let frs of fournisseurList" [value]="frs.numFournisseur">{{frs.codeFrs}} - {{frs.identiteFrs}}</ng-option>
                      </ng-select>
                    </div-->

                  </div>
                </form>
                  <div class="mt-3 mb-4 border-top"></div>
                  <h4 class="font-weight-bold">Détails sur la Demande de Renseignement de Prix</h4>

                  <div class="row">
                      <div class="col-md-12 table-responsive">
                          <table class="table table-hover mb-3">
                              <thead class="bg-gray-300">
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Article</th>
                                      <th scope="col">Quantité</th>
                                      <th scope="col">Unité</th>
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let lig of ligneShow; let i = index;"
                                      >
                                      <th scope="row">{{i + 1}}</th>
                                      <td>
                                        {{lig.artii?.codeArticle}} - {{lig.artii?.libArticle}}
                                        <!--
                                        <ng-select [(ngModel)]="lig.selectedArticl" (ngModelChange)="getUniterOfSelectArt(i)"
                                        (click)="onArticleSelectClicked(i)" style="min-width: 180px;">
                                          <ng-option *ngFor="let art of lig.listArticle" [value]="art.numArticle"
                                           >{{art.codeArticle}} - {{art.libArticle}}</ng-option>
                                        </ng-select>
                                        
                                        
                                        <select class="form-control" [(ngModel)]="lig.selectedArticl" (ngModelChange)="getUniterOfSelectArt(i)"
                                         style="min-width: 180px;">
                                            <option *ngFor="let art of lig.listArticle" [value]="art.numArticle"
                                            >{{art.codeArticle}} - {{art.libArticle}}</option>

                                        </select>
                                        -->

                                      </td>
                                      <td>
                                        <input type="number" class="form-control" [(ngModel)] = "lig.lignesDemandePrix.qteLigneDemandePrix"
                                            placeholder="Quantité">
                                      </td>
                                      <td>
                                        <ng-select [(ngModel)]="lig.selectedUniter" style="min-width: 180px;">
                                          <ng-option *ngFor="let unit of lig.listUniter" [value]="unit.numUniter"
                                           >{{unit.codeUniter}} - {{unit.libUniter}}</ng-option>
                                        </ng-select>
                                      </td>
                                      <td>
                                          <button class="btn btn-outline-secondary float-right" (click)="popALigneComAcha(i)">Retirer</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <button class="btn btn-primary float-right mb-4" (click)="showModalSelectArticle(modalSelectArticle)">Ajouter une ligne</button>
                      </div>

                      <!--div class="col-md-12">

                          <div class="float-right">
                              <p>Total Montant HT : <span> {{ totaux[0] }} </span>  F CFA</p>
                              <p class="d-flex align-items-center">Total Montant TVA : <span> {{ totaux[1] }} </span>  F CFA</p>
                              <h5 class="font-weight-bold d-flex align-items-center">Total Montant TTC : <span> {{ totaux[2] }} </span>  F CFA</h5>
                          </div>
                      </div-->

                  </div>

              </div>

            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>

</div>



<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la suppression de
        <span class="text-primary">{{ demandePrix?.idDemandePrix }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Cancel
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Ok
    </button>
  </div>
</ng-template>

<ng-template #modalConfirmChoiFrs let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Choix de Fournisseur</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous <strong class="text-success" *ngIf="etatChoix == false">le Choix</strong>
      <strong class="text-danger" *ngIf="etatChoix == true">l'Annulation du choix</strong> du Fournisseur
        <span class="text-primary">{{ etatChoixConcernedFrs.numFournisseur }} - {{ etatChoixConcernedFrs.identiteFrs }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Ok
    </button>
  </div>
</ng-template>

<ng-template #modalFrsConsulter let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Fournisseurs Consultés</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <table class="table table-striped table-hover " id="tabListArt">
        <thead>
          <tr>
            <th>#</th>
            <th>Fournisseur</th>
            <th>Date de Remise</th>
            <th>Choisir ?</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let lig of selectedCurrentFrsInter; let i = index">
            <th>{{ i+1 }}</th>
            <td>
              <ng-select (click)="onFrsSelectClicked(i)" [(ngModel)]="lig.selectedFrs"
               style="min-width: 180px;">
                <ng-option *ngFor="let frs of lig.listFrs" [value]="frs.numFournisseur"
                  >{{frs.codeFrs}} - {{frs.identiteFrs}}</ng-option>
              </ng-select>
            </td>
            <td>
              <input class="form-control text-right" type="date" [(ngModel)]="lig.dateRemis">
            </td>
            <td>
              <p style="text-align: center;"><input class="form-check-input" type="checkbox"
                [(ngModel)]="lig.choisit" (click)="onChoiceAFrsClickedDialog(modalConfirmChoiFrs, i)"></p>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
              (click)="popALigneFrsConsulter(i)"><i class="i-Close-Window"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <button class="btn btn-primary float-right mb-4" style="width: 100%;"
      (click)="pushALigneFrsConsulter()">Ajouter un Fournisseur</button>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Fermer
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-success btn-rounded" ngbAutofocus
            type="button">Valider
    </button>
  </div>
</ng-template>

<ng-template #modalGenerBond let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Informations sur le Bon de Commande</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="validateForm2">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
              <label for="orderNo">Numéro DRP</label>
              <input formControlName="idDemandePrix" type="text" class="form-control"
                  placeholder="Numéro" readonly>
          </div>
        </div>

        <div class="col-md form-group mb-3">
          <label >Fournisseur</label>
          <input formControlName="frs" type="text" class="form-control"
                  placeholder="Numéro" readonly>
        </div>

      </div>
      <div class="row">

          <div class="col-md form-group mb-3">
            <label for="picker1">Date de Commande</label>
            <div class="input-group">
                <input formControlName="dateCommande" id="picker1" class="form-control text-right" type="date"
                    >
            </div>
          </div>
          <div class="col-md">
            <div class="col-md form-group" >
                <label for="orderNo">Délais de Livraison (en jours)</label>
                <input formControlName="delaiLivraison" type="number" class="form-control"
                    placeholder="Numéro">
            </div>
          </div>
          <div class="col-md form-group mb-3">
            <label for="picker2">Date de Remise</label>
            <div class="input-group">
                <input formControlName="dateRemise" id="picker2" class="form-control text-right" type="date"
                    >
            </div>
          </div>
      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Fermer
    </button>
    <btn-loading btnClass="btn-primary" ngbAutofocus [loading]="loading2" (click)="generateBond(modal)">Générer</btn-loading>
  </div>
</ng-template>


<ng-template #modalValid let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == true">Validation</h4>
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == false">Annulation</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous <strong class="text-success" *ngIf="etatVali == true">la Validation</strong>
      <strong class="text-danger" *ngIf="etatVali == false">l'Annulation</strong> de la pièce ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">NON
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">OUI
    </button>
  </div>
</ng-template>

<ng-template #modalSelectArticle let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Articles</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input [formControl]="searchControlArticle" class="form-control form-control-rounded" id="email"
                 placeholder="Rechercher Article" type="email">
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="o-hidden">
          <ngx-datatable
            [columnMode]="'standard'"
            [selectionType]="'checkbox'"
            [footerHeight]="50"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [messages]="{emptyMessage: 'Aucune ligne'}"
            [rows]="articleFiltered"
            [limit]="4"
            [scrollbarH]="true"
            class="material"
            style="box-shadow: none; overflow-y:visible">
            <ngx-datatable-column [width]="75">
              <ng-template ngx-datatable-header-template>
                Choisir ?
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <!--<strong>{{ row.code }}</strong>-->
                  
                  <label class="checkbox checkbox-success">
                    <input type="checkbox" [checked]="isArticleAlreadySelected(row)" (click)="addLignByDialog(row)">
                    <span class="checkmark"></span>
                  </label>
                
                
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="codeArticle" [width]="100">
              <ng-template ngx-datatable-header-template>
                Code
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="libArticle" [width]="250">
              <ng-template ngx-datatable-header-template>
                Libellé
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="150">
              <ng-template ngx-datatable-header-template>
                Famille
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div *ngIf="row.famille">
                  {{ row.famille.codeFamille }} - {{ row.famille.libFamille }}
                </div>
                <div *ngIf="!row.famille">
                  Aucun
                </div>

              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="150">
              <ng-template ngx-datatable-header-template>
                Type
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div *ngIf="row.typeArticle">
                  {{ row.typeArticle.codeTypeArt }} - {{ row.typeArticle.libTypeArt }}
                </div>
                <div *ngIf="!row.typeArticle">
                  Aucun
                </div>

              </ng-template>
            </ngx-datatable-column>


          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">>
    <button (click)="modal.dismiss('cancel')" class="btn btn-success btn-rounded" ngbAutofocus
            type="button">Fermer
    </button>
  </div>
</ng-template>

