<div class="">
    <div class="breadcrumb">
        <h1> Gestion des clôtures périodiques</h1>
        <ul>
            <li><a href="">Saisie</a></li>
            <li>Clôture périodique</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component importation-->

    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des Clôtures Périodiques</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <a ngbNavLink>Liste des Bonds de Travail</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                           placeholder="Rechercher une Période">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="o-hidden">
                    <ngx-datatable
                      [columnMode]="'force'"
                      [footerHeight]="50"
                      [headerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]="cloturePeriodiqFiltered"
                      [limit]="4"
                      class="material fullscreen"
                      style="height: 500px; box-shadow: none; overflow-y:visible">

                      <ngx-datatable-column [maxWidth]="50">
                        <ng-template ngx-datatable-header-template>
                          Validité
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <strong *ngIf="row.valide == true">V</strong>
                          <!--<strong *ngIf="row.commande.valide == false">A</strong>-->
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="idCloturePer">
                        <ng-template ngx-datatable-header-template>
                          Code
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Date de début
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.dateDebutCloturePer }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Date de Fin
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.dateFinCloturePer }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Exercice
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.exercice.codeExercice }} - {{ row.exercice.libExercice }}
                        </ng-template>
                      </ngx-datatable-column>
                      
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Actions
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          
                          <button (click)="valider(row, true, modalValid)" class="btn btn-outline-success m-1 btn-sm"
                                  type="button" *ngIf="row.valide == false" ngbTooltip="Valider" placement="bottom">
                            <i class="i-Yes"> </i>
                          </button>
                          <button (click)="valider(row, false, modalValid)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" *ngIf="row.valide == true" ngbTooltip="Annuler" placement="bottom">
                            <i class="i-Reload"> </i>
                          </button>
                          <button class="btn btn-outline-danger m-1 btn-sm"
                                  type="button" (click)="delete(modalDel, row)" *ngIf="row.valide == false && isLast(row)" ngbTooltip="Supprimer" placement="bottom">
                            <i class="i-Folder-Trash"> </i>
                          </button>
                          
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>



          <li [ngbNavItem]="2">
            <a ngbNavLink> Nouvelle Cloture Périodique</a>
            <ng-template ngbNavContent>

              <div >
                <div class="card mb-4" >
                  <div class="card-body">
                    <form [formGroup]="validateForm" (ngSubmit)="submit(modalConfirm)">
                      <div class="row">
                        <div class="col-md">
                          <div class="card-title mb-3 border-bottom pb-2">Dernière Clôture</div>
                          <div class="row">
                            <div class="col-md-6 form-group mb-3">
                              <label for="code">Date de début </label>
                              <input class="form-control" readonly formControlName="dateDebut0"
                                    placeholder="Entrer le code" type="date" autocomplete="off">
                              
                            </div>
                
                            <div class="col-md-6 form-group mb-3">
                              <label for="valeur">Date de Fin </label>
                              <input class="form-control" readonly formControlName="dateFin0"
                                    placeholder="Entrer le libellé" type="date" autocomplete="off">
                              
                            </div>
                
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="card-title mb-3 border-bottom pb-2">Clôture Actuelle</div>
                          <div class="row">
                            <div class="col-md-6 form-group mb-3">
                              <label for="dateDebut">Date de début <span class="required-field">*</span> </label>
                              <input class="form-control" formControlName="dateDebut" id="dateDebut"
                                    placeholder="Entrer le code" type="date" autocomplete="off">
                              <div *ngIf="validateForm.controls.dateDebut.errors &&
                            (validateForm.controls.dateDebut.dirty || validateForm.controls.dateDebut.touched)"
                                  class="error-field">
                                Ce champs est obligatoire !
                              </div>
                            </div>
                
                            <div class="col-md-6 form-group mb-3">
                              <label for="dateFin">Date de fin <span class="required-field">*</span> </label>
                              <input class="form-control" formControlName="dateFin" id="dateFin"
                                    placeholder="Entrer le libellé" type="date" autocomplete="off">
                              <div *ngIf="validateForm.controls.dateFin.errors &&
                            (validateForm.controls.dateFin.dirty || validateForm.controls.dateFin.touched)"
                                  class="error-field">
                                Ce champs est obligatoire !
                              </div>
                            </div>
                
                            <div class="col-md-12">
                              <btn-loading [loading]="loading" btnClass="btn-primary btn-save">Enregistrer</btn-loading>
                              <button (click)="resetForm()" class="btn m-1 ml-2 btn-cancel" type="button"> Annuler</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                    </form>
          
                
          
                  </div>
                </div>
              </div>

            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>

    

</div>

<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Clôture</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la Clôture de la période du <span class="text-primary">{{ this.validateForm.value.dateDebut | date:"dd-MM-yyyy" }}</span> au
        <span class="text-primary">{{ this.validateForm.value.dateFin | date:"dd-MM-yyyy" }}</span> ?</strong>
    </p>
    
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Confirmer
    </button>
  </div>
</ng-template>

<ng-template #modalValid let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == true">Validation</h4>
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == false">Annulation</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous <strong class="text-success" *ngIf="etatVali == true">la Validation</strong>
      <strong class="text-danger" *ngIf="etatVali == false">l'Annulation</strong> de la clôture périodique <span class="text-primary">{{ cloturePeriodiq.idCloturePer }}</span> (Du <span class="text-primary">{{ cloturePeriodiq.dateDebutCloturePer }}</span> au <span class="text-primary">{{ cloturePeriodiq.dateFinCloturePer }}</span>) ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">NON
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">OUI
    </button>
  </div>
</ng-template>

<ng-template #modalDel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la <span class="text-danger">suppression</span> de la clôture périodique <span class="text-primary">{{ cloturePeriodiq.idCloturePer }}</span> (Du <span class="text-primary">{{ cloturePeriodiq.dateDebutCloturePer }}</span> au <span class="text-primary">{{ cloturePeriodiq.dateFinCloturePer }}</span>) ?
         ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Confirmer
    </button>
  </div>
</ng-template>