<div class="card o-hidden" [@animate]="{value:'*',params:{y:'120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="p-4">
        <div class="auth-logo text-center mb-4">
          <!--<img src="assets/images/forsetilogo.png" alt="">-->
          <!--img src="assets/images/logoTCN07.png" alt="" style="width: 400px;height: 90px;margin-top: 15px;"-->
          <img src="assets/images/pal.png" alt="" style="width: 150px;height: 150px;margin-top: 20px;margin-bottom: 20px;">
        </div>
        <h1 class="mb-3 text-18 font-weight-bold">Changement de mot de passe</h1>
        <p style="color:red">{{changePasswordFailError}}</p>
        <br>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="currentPassword">Mot de passe actuel</label>
            <input id="currentPassword" class="form-control form-control-rounded" formControlName="currentPassword" type="password">
          </div>

          <div class="form-group">
            <label for="newPassword">Mot de passe</label>
            <input id="newPassword" class="form-control form-control-rounded" formControlName="newPassword" type="password">
          </div>

          <div class="form-group">
            <label for="newPasswordConfirm">Mot de passe (confirmation)</label>
            <input id="newPasswordConfirm" class="form-control form-control-rounded" formControlName="newPasswordConfirm" type="password">
          </div>
          <br>
          <!--btn-loading btnClass="btn-primary btn-rounded btn-block mt-3" [loadingText]="loadingText" [loading]="loading">
            Envoyer
          </btn-loading-->
          <button class="btn btn-primary btn-rounded w-100" type="submit">
            <div class="btn-spinner float-left" *ngIf="loading"></div>
            <span>Envoyer</span>
          </button>
        </form>

        <div class="mt-3 text-center">
          <a href="" class="text-muted" routerLink="/gestion/accueil"><u>Quitter</u></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
