<div class="">
    <div class="breadcrumb">
        <h1> Gestion des magasins</h1>
        <ul>
            <li><a href="">Definition</a></li>
            <li>Magasin</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component magasin-->
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des Magasins</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <a ngbNavLink>Liste des Magasins</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                           placeholder="Rechercher Magasin" type="email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="o-hidden">
                    <ngx-datatable
                      [columnMode]="'force'"
                      [footerHeight]="50"
                      [headerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]="magasinFiltered"
                      [limit]="4"
                      class="material fullscreen"
                      style="height: 500px; box-shadow: none; overflow-y:visible">
                      <ngx-datatable-column name="codeMagasin">
                        <ng-template ngx-datatable-header-template>
                          Code
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="libMagasin">
                        <ng-template ngx-datatable-header-template>
                          Libellé
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Familles Gérées
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <!--<strong>{{ row.code }}</strong>-->
                          <span *ngFor="let fa of getFamillesOfAMag(row)" > {{ fa.codeFamille }} ; </span>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Actions
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <!--<strong>{{ row.code }}</strong>-->
                          <button (click)="makeForm(row)" class="btn btn-primary m-1 btn-sm" ngbTooltip="Modifier" placement="bottom" type="button">
                            <i class="i-Pen-5"> </i>
                          </button>
                          <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1 btn-sm"
                                  type="button" ngbTooltip="Supprimer" placement="bottom">
                            <i class="i-Folder-Trash"> </i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Nouveau Magasin</a>
            <ng-template ngbNavContent>

              <div class="mb-2">
                <form (ngSubmit)="submit()" [formGroup]="validateForm">
                  <div class="row">
                    <div class="col-md-5 form-group mb-3">
                      <label for="code">Code <span class="required-field">*</span> </label>
                      <input class="form-control" formControlName="codeMagasin" id="codeMagasin"
                             placeholder="Entrer le code" type="text" autocomplete="off">
                      <div *ngIf="validateForm.controls.codeMagasin.errors &&
                     (validateForm.controls.codeMagasin.dirty || validateForm.controls.codeMagasin.touched)"
                           class="error-field">
                        Ce champs est obligatoire !
                      </div>
                    </div>

                    <div class="col-md-7 form-group mb-3">
                      <label for="valeur">Libellé <span class="required-field">*</span> </label>
                      <input class="form-control" formControlName="libMagasin" id="libMagasin"
                             placeholder="Entrer le libellé" type="text" autocomplete="off">
                      <div *ngIf="validateForm.controls.libMagasin.errors &&
                     (validateForm.controls.libMagasin.dirty || validateForm.controls.libMagasin.touched)"
                           class="error-field">
                        Ce champs est obligatoire !
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label >Familles Gérées</label>
                      <ng-select formControlName="familles" [multiple]="true" (click)="cliii()">
                        <ng-option *ngFor="let fam of familleList" [value]="fam.numFamille">{{fam.codeFamille}} - {{fam.libFamille}}</ng-option>
                      </ng-select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <btn-loading [loading]="loading" btnClass="btn-save">Enrégistrer</btn-loading>
                      <button (click)="resetForm()" class="btn m-1 ml-2 btn-cancel" type="button"> Annuler</button>
                    </div>
                  </div>

                </form>
              </div>

            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>


</div>



<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la suppression de
        <span class="text-primary">{{ magasin?.codeMagasin }} - {{ magasin?.libMagasin }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Cancel
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Ok
    </button>
  </div>
</ng-template>
