<div class="">
    <div class="breadcrumb">
        <h1> Gestion des inventaires</h1>
        <ul>
            <li><a routerLink="">Saisie</a></li>
            <li>Inventaire</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu inventaire-->
    
    <div class="card mb-4">
        <div class="card-body">
          <div class="card-title mb-3 border-bottom pb-2">Gestion des Inventaires</div>
  
          <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
            <li [ngbNavItem]="1">
              <a ngbNavLink>Liste des Inventaires</a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                             placeholder="Rechercher un Inventaire">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="o-hidden">
                      <ngx-datatable
                        [columnMode]="'force'"
                        [footerHeight]="50"
                        [headerHeight]="50"
                        [rowHeight]="'auto'"
                        [messages]="{emptyMessage: 'Aucune donnée à afficher !!!'}"
                        [rows]="inventaireFiltered"
                        [limit]="4"
                        class="material fullscreen"
                        style="height: 500px; box-shadow: none; overflow-y:visible">
  
                        <ngx-datatable-column [maxWidth]="50">
                          <ng-template ngx-datatable-header-template>
                            Validité
                          </ng-template>
                          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <strong *ngIf="row.valideInve == true">V</strong>
                            <!--<strong *ngIf="row.commande.valide == false">A</strong>-->
                          </ng-template>
                        </ngx-datatable-column>
  
                        <ngx-datatable-column >
                          <ng-template ngx-datatable-header-template>
                            Numéro
                          </ng-template>
                          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                             {{ row.numInv  }} 
                           </ng-template>
                        </ngx-datatable-column>
  
                        <ngx-datatable-column>
                          <ng-template ngx-datatable-header-template>
                            Magasin
                          </ng-template>
                          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.magasin.codeMagasin }} - {{ row.magasin.libMagasin }}
                          </ng-template>
                        </ngx-datatable-column>
  
                        <ngx-datatable-column>
                          <ng-template ngx-datatable-header-template>
                            Date Inventaire
                          </ng-template>
                          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                           {{ row.dateInv | date :'short' }}
                          </ng-template>
                        </ngx-datatable-column>
  
                        <ngx-datatable-column>
                          <ng-template ngx-datatable-header-template>
                            Observation
                          </ng-template>
                          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                              {{ row.descrInv }}
                          </ng-template>
                        </ngx-datatable-column>
  
                        <ngx-datatable-column>
                          <ng-template ngx-datatable-header-template>
                            Actions
                          </ng-template>
                          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <!--strong>{{ row.numInv }}</strong-->
                            <button (click)="makeForm(row)" class="btn btn-primary m-1 btn-sm"
                            type="button"  ngbTooltip="Modifier" placement="bottom" *ngIf="row.valideInve == false">
                              <i class="i-Pen-5"> </i>
                            </button>
                            <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1 btn-sm"
                                    type="button"  ngbTooltip="Supprimer" placement="bottom" *ngIf="row.valideInve == false">
                              <i class="i-Folder-Trash"> </i>
                            </button>
                            <button (click)="valider(row, true, modalValid)" class="btn btn-outline-success m-1 btn-sm"
                                    type="button"  ngbTooltip="Valider" placement="bottom" *ngIf="row.valideInve == false">
                              <i class="i-Yes"> </i>
                            </button>
                            <button (click)="openDetail(row)" class="btn btn-outline-warning m-1 btn-sm"
                              type="button"  ngbTooltip="Détail" placement="bottom">
                              <i class="i-Information"> </i>
                            </button>
                            <button (click)="openPdfToPrint(row)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" ngbTooltip="Rapport" placement="bottom" >
                            <i class="i-File-Download"> </i>
                          </button>
                            <!--button (click)="valider(row, false)" class="btn btn-outline-warning m-1 btn-sm"
                                    type="button" *ngIf="row.valideInve == true">
                              <i class="i-Reload"> </i>
                            </button-->
                            <!--button (click)="onGeneratBondClicked(modalGenerBond, row)" class="btn btn-outline-warning m-1 btn-sm"
                                    type="button" *ngIf="row.valideDemandePrix == true">
                              <i class="i-Mail-Send"> </i>
                            </button-->
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
  
  
  
            <li [ngbNavItem]="2">
              <a ngbNavLink><span *ngIf="! validateForm.value.numInv">Nouveau</span><span *ngIf="validateForm.value.numInv  && detailView == false" span>Modifier</span> <span *ngIf="validateForm.value.numInv && detailView == true" span>Détail sur</span> Inventaire</a>
              <ng-template ngbNavContent>
  
                <div class="mb-2">
                  <div class="d-flex mb-5" style="margin-bottom: 0;">
                    <span class="m-auto"></span>

                    <!-- dropdown de fiche d'inventaire -->
                    <div #myDrop2="ngbDropdown" class="d-inline-block" ngbDropdown >
                        <button (focus)="myDrop2.open()" class="btn btn-primary mr-2" id="dropdownDecision"  [disabled]="!(validateForm.value.magasin && validateForm.value.dateInv)" ngbDropdownAnchor> Fiche d'inventaire</button>
                        <div aria-labelledby="dropdownManual" ngbDropdownMenu>
                            <button  ngbDropdownItem (click)="ficheInventaire(false)"> Sans Stock Théorique</button>
                            <button  ngbDropdownItem (click)="ficheInventaire(true)"> Avec Stock Théorique</button>
                        </div>
                   </div>
                    <button class="btn btn-outline-secondary mr-3" (click)="resetForm()"><span *ngIf="!detailView">Annuler</span> <span *ngIf="detailView">Fermer</span></button>
                    <btn-loading btnClass="btn-primary" [loading]="loading" (click)="submit()"  *ngIf="!detailView" >Enrégistrer</btn-loading>
                  </div>
                  <form [formGroup]="validateForm">
                    <h4 class="font-weight-bold">Informations sur l'inventaire</h4>
                    <div class="row">
                        <div class="col-md" *ngIf="validateForm.value.numInv ">
                            <div class="col-md form-group">
                                <label for="orderNo">Numéro Inventaire</label>
                                <input formControlName="numInv" type="text" class="form-control" id="numInv"
                                    placeholder="Numéro" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="magasin">Magasin</label>
                            <ng-select bindLabel="libMagasin"  id="magasin" formControlName="magasin" placeholder="Entrer le magasin"  [readonly]="detailView" >
                              <!--ng-option [ngValue]="null">-- Centre de consommation parent -- </ng-option-->
                              <ng-option *ngFor="let magas of magasinFiltered" [value]="magas">{{magas.codeMagasin}} - {{magas.libMagasin}}</ng-option>
                            </ng-select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                          <label for="picker1">Date Inventaire</label>
                          <div class="input-group">
                              <input formControlName="dateInv" id="picker1" class="form-control text-right" type="date"  [readonly]="detailView">
                          </div>
                        </div>
                       
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="orderNo">Désignation (observation) </label>
                        <input formControlName="descrInv" type="text" class="form-control" id="descrInv"  [readonly]="detailView"
                            placeholder="Description ou observation sur l'inventaire" autocomplete="off">
  
                      </div>
                     
  
                    </div>
                  </form>
                    <div class="mt-3 mb-4 border-top"></div>
                    <h4 class="font-weight-bold">Détails sur l'inventaire</h4>
  
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-hover mb-3">
                                <thead class="bg-gray-300">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Article</th>
                                        <th scope="col">Stock Théo.</th>
                                        <th scope="col">Stock Réel</th>
                                        <th scope="col">CUMP</th>
                                        <th scope="col">Ecart (Qté)</th>
                                        <th scope="col">Ecart (Montant)</th>
                                        <th scope="col">Observation</th>
                                        <!--th scope="col"></th-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ligInventaire of tempateLigneInventaire; let i = index;">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>
                                
                                          {{ligInventaire.article.codeArticle}} - {{ligInventaire.article.libArticle}}
                                        </td>
                                        <td>
                                          {{ ligInventaire.stockTheoriq  }}
                                        </td>
                                        <td>
                                          <input type="number" class="form-control" [(ngModel)] = "ligInventaire.stockreel"
                                              placeholder="Stock Réel"  [readonly]="detailView">
                                        </td>
                                        <td>
                                          {{ ligInventaire.pu  }}
                                        </td>
                                        <td>
                                          {{ligInventaire.stockreel - ligInventaire.stockTheoriq}}
                                        </td>
                                        <td>
                                          {{ (ligInventaire.stockreel*ligInventaire.pu) - (ligInventaire.stockTheoriq*ligInventaire.pu) }}
                                        </td>
                                        <td>
                                          <input type="text" class="form-control" [(ngModel)] = "ligInventaire.observation"
                                          placeholder="Observation"  [readonly]="detailView">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary float-right mb-4" (click)="showAllLigneArticleConcernedMagasin()"  [disabled]="!(validateForm.value.magasin && validateForm.value.dateInv ) || detailView">Générer les lignes</button>
                        </div>
  
                        <!--div class="col-md-12">
  
                            <div class="float-right">
                                <p>Total Montant HT : <span> {{ totaux[0] }} </span>  F CFA</p>
                                <p class="d-flex align-items-center">Total Montant TVA : <span> {{ totaux[1] }} </span>  F CFA</p>
                                <h5 class="font-weight-bold d-flex align-items-center">Total Montant TTC : <span> {{ totaux[2] }} </span>  F CFA</h5>
                            </div>
                        </div-->
  
                    </div>
  
                </div>
  
              </ng-template>
            </li>
  
          </ul>
  
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
        </div>
      </div>
</div>


<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la suppression de
        <span class="text-primary">{{ inventaire.numInv }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Confirmer
    </button>
  </div>
</ng-template>

<!--Modal de validation-->

<ng-template #modalValid let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == true">Validation</h4>
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == false">Annulation</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous <strong class="text-success" *ngIf="etatVali == true">la Validation</strong>
      <strong class="text-danger" *ngIf="etatVali == false">l'Annulation</strong> de la pièce ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">NON
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">OUI
    </button>
  </div>
</ng-template>

