<div class="">
    <div class="breadcrumb">
        <h1> Gestion des demandes ou Expression de bésoin</h1>
        <ul>
            <li><a href="">Saisie</a></li>
            <li>Demande ou Expression de bésoin</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component importation-->

    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des Demandes ou Expression de Besoin</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <a ngbNavLink>Liste des Demandes ou Expression de Besoin</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                           placeholder="Rechercher Demande de Besoin" type="text" autocomplete="off">
                    
                  </div>
                  
                </div>
                <div class="col-md-4">
                  <form [formGroup]="searchAffForm" class="row">
                    <label class="radio radio-primary col-md-4">
                      <input type="radio" name="radioAffich" [value]="0" formControlName="radioAffich" (ngModelChange)= "filerData(searchControl.value)">
                      <span>Toutes</span>
                      <span class="checkmark"></span>
                    </label>
                    <label class="radio radio-success col-md-4">
                      <input type="radio" name="radioAffich" [value]="1" formControlName="radioAffich" (ngModelChange)= "filerData(searchControl.value)">
                      <span>Validées</span>
                      <span class="checkmark"></span>
                    </label>
                    <label class="radio radio-danger col-md-4">
                      <input type="radio" name="radioAffich" [value]="2" formControlName="radioAffich" (ngModelChange)= "filerData(searchControl.value)">
                      <span>Non Validées</span>
                      <span class="checkmark"></span>
                    </label>
                  </form> 
                </div>
                <div class="col-md-12">
                  <div class="o-hidden">
                    <ngx-datatable
                      [columnMode]="'force'"
                      [footerHeight]="50"
                      [headerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]="demandeApproFiltered"
                      [messages]="{emptyMessage: 'Aucune donnée à afficher !!!'}"
                      [limit]="4"
                      class="material fullscreen"
                      style="height: 500px; box-shadow: none; overflow-y:visible">

                      <ngx-datatable-column [maxWidth]="50">
                        <ng-template ngx-datatable-header-template>
                          Validité
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <strong *ngIf="row.valideDA == true">V</strong>
                          <!--<strong *ngIf="row.commande.valide == false">A</strong>-->
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Code
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.numDA }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Date
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.dateDA | date: "dd-MM-yyyy à HH:mm:ss" }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Observation
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.description }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Centre de Consommation
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.service.codeService }} - {{ row.service.libService }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Actions
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <!--<strong>{{ row.code }}</strong>-->
                          <button (click)="makeForm(row)" class="btn btn-primary m-1 btn-sm"
                          type="button" *ngIf="row.valideDA == false && authService.hasAccess('saisie_dem_bes_edit')" ngbTooltip="Modifier" placement="bottom" >
                            <i class="i-Pen-5"> </i>
                          </button>
                          <button (click)="valider(row, true, modalValid)" class="btn btn-outline-success m-1 btn-sm"
                                  type="button" *ngIf="row.valideDA == false && authService.hasAccess('saisie_dem_bes_valid')" ngbTooltip="Valider" placement="bottom">
                            <i class="i-Yes"> </i>
                          </button>
                          <button (click)="valider(row, false, modalValid)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" *ngIf="row.valideDA == true && authService.hasAccess('saisie_dem_bes_rollback')" ngbTooltip="Annuler" placement="bottom">
                            <i class="i-Reload"> </i>
                          </button>
                          <button (click)="openPdfToPrint(row)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" ngbTooltip="Imprimer" placement="bottom" *ngIf="authService.hasAccess('saisie_dem_bes_print')">
                            <i class="i-File-Download"> </i>
                          </button>
                          
                          <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1 btn-sm"
                                  type="button" *ngIf="row.valideDA == false && authService.hasAccess('saisie_dem_bes_delete')" ngbTooltip="Supprimer" placement="bottom">
                            <i class="i-Folder-Trash"> </i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>



          <li [ngbNavItem]="2" *ngIf="authService.hasAccess('saisie_dem_bes_new') || validateForm.value.numDA">
            <a ngbNavLink><span *ngIf="! validateForm.value.numDA">Nouvelle</span><span *ngIf="validateForm.value.numDA" span>Modifier</span> Demande ou Expression de Besoin </a>
            <ng-template ngbNavContent>

              <div class="mb-2">
                <div class="d-flex mb-5" style="margin-bottom: 0;">
                  <span class="m-auto"></span>
                  <btn-loading btnClass="btn-primary btn-save mr-3" [loading]="loading" (click)="submit()" *ngIf="authService.hasAccess('saisie_dem_bes_new') || authService.hasAccess('saisie_dem_bes_edit')" >Enregistrer</btn-loading>
                  <button class="btn btn-outline-secondary " (click)="resetForm()">Annuler</button>
                </div>
                <form [formGroup]="validateForm">
                  <h4 class="font-weight-bold">Informations sur la Demande ou Expression de Besoin</h4>
                  <div class="row" *ngIf="validateForm.value.numDA">
                      <div class="col-md">
                          <div class="col-md form-group">
                              <label for="orderNo">Numéro</label>
                              <input formControlName="numDA" type="text" class="form-control"
                                  placeholder="Numéro" readonly>
                          </div>
                      </div>
                      <div class="col-md form-group mb-3">
                        <label for="picker1">Date de demande</label>
                        <div class="input-group">
                            <input formControlName="dateDA" id="picker1" class="form-control text-right" type="datetime-local"
                              readonly  >

                        </div>
                      </div>
                  </div>
                  <div class="row">

                    <div class="col-md form-group mb-3">
                      <label >Centre de Consommation</label>
                      <ng-select formControlName="service">
                        <ng-option *ngFor="let serv of serviceList" [value]="serv?.numService">{{serv?.codeService}} - {{serv?.libService}}</ng-option>
                      </ng-select>
                    </div>
                    <div class="col-md form-group">
                      <label for="description">Observation</label>
                      <input formControlName="description" type="text" class="form-control"
                          placeholder="Observation sur la demande">

                    </div>

                  </div>
                </form>
                  <div class="mt-3 mb-4 border-top"></div>
                  <h4 class="font-weight-bold">Détails sur la Demande ou Expression de Besoin</h4>

                  <div class="row">
                      <div class="col-md-12 table-responsive">
                          <table class="table table-hover mb-3">
                              <thead class="bg-gray-300">
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Article</th>
                                      <th scope="col">Quantité</th>
                                      <th scope="col">Unité</th>
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let lig of ligneShow; let i = index;"
                                      >
                                      <th scope="row">{{i + 1}}</th>
                                      <td>
                                        {{lig.artii?.codeArticle}} - {{lig.artii?.libArticle}}
                                        <!--
                                        <ng-select [(ngModel)]="lig.selectedArticl" (ngModelChange)="getUniterOfSelectArt(i)"
                                        (click)="onArticleSelectClicked(i)" style="min-width: 180px;">
                                          <ng-option *ngFor="let art of lig.listArticle" [value]="art.numArticle"
                                           >{{art.codeArticle}} - {{art.libArticle}}</ng-option>
                                        </ng-select>
                                        -->
                                      </td>
                                      <td>
                                        <input type="number" class="form-control" [(ngModel)] = "lig.ligneDemandeAppro.quantiteDemandee"
                                            placeholder="Quantité" 
                                            [ngStyle]="{'background-color': lig.ligneDemandeAppro.quantiteDemandee <= 0 ? 'rgb(255, 172, 172)': null}"
                                          >
                                      </td>
                                      <td>
                                        <ng-select [(ngModel)]="lig.selectedUniter" style="min-width: 180px;" 
                                        [ngStyle]="{'border': (lig.selectedUniter == null) ? '2px solid rgb(255, 172, 172)': null,
                                                    'background-color': (lig.selectedUniter == null) ? '2px solid rgb(255, 172, 172)': null,
                                                    'border-radius':  (lig.selectedUniter == null) ? '5px': null}">
                                          <ng-option *ngFor="let unit of lig.listUniter" [value]="unit.numUniter"
                                           >{{unit.codeUniter}} - {{unit.libUniter}}</ng-option>
                                        </ng-select>
                                      </td>
                                      <td>
                                          <button class="btn btn-outline-secondary float-right" (click)="popALigneDa(i)">Retirer</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <button class="btn btn-primary float-right mb-4" (click)="showModalSelectArticle(modalSelectArticle)">Ajouter une ligne</button>
                      </div>

                  </div>

              </div>

            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>

</div>

<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la suppression de
        <span class="text-primary">{{ demandeAppro?.numDA }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Confirmer
    </button>
  </div>
</ng-template>

<ng-template #modalValid let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == true">Validation</h4>
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == false">Annulation</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous <strong class="text-success" *ngIf="etatVali == true">la Validation</strong>
      <strong class="text-danger" *ngIf="etatVali == false">l'Annulation</strong> de la pièce ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">NON
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">OUI
    </button>
  </div>
</ng-template>

<ng-template #modalSelectArticle let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Articles</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input [formControl]="searchControlArticle" class="form-control form-control-rounded" id="email"
                 placeholder="Rechercher Article" type="email">
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="o-hidden">
          <ngx-datatable
            [columnMode]="'standard'"
            [selectionType]="'checkbox'"
            [footerHeight]="50"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [messages]="{emptyMessage: 'Aucune ligne'}"
            [rows]="articleFiltered"
            [limit]="4"
            [scrollbarH]="true"
            class="material"
            style="box-shadow: none; overflow-y:visible">
            <ngx-datatable-column [width]="75">
              <ng-template ngx-datatable-header-template>
                Choisir ?
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <!--<strong>{{ row.code }}</strong>-->
                  
                  <label class="checkbox checkbox-success">
                    <input type="checkbox" [checked]="isArticleAlreadySelected(row)" (click)="addLignByDialog(row)">
                    <span class="checkmark"></span>
                  </label>
                
                
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="codeArticle" [width]="100">
              <ng-template ngx-datatable-header-template>
                Code
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="libArticle" [width]="250">
              <ng-template ngx-datatable-header-template>
                Libellé
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="150">
              <ng-template ngx-datatable-header-template>
                Famille
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div *ngIf="row.famille">
                  {{ row.famille.codeFamille }} - {{ row.famille.libFamille }}
                </div>
                <div *ngIf="!row.famille">
                  Aucun
                </div>

              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="150">
              <ng-template ngx-datatable-header-template>
                Type
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div *ngIf="row.typeArticle">
                  {{ row.typeArticle.codeTypeArt }} - {{ row.typeArticle.libTypeArt }}
                </div>
                <div *ngIf="!row.typeArticle">
                  Aucun
                </div>

              </ng-template>
            </ngx-datatable-column>


          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-success btn-rounded" ngbAutofocus
            type="button">Fermer
    </button>
  </div>
</ng-template>

