<div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Journal</a>
        
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Par centre de Consommation</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Par article</a>
        <!--<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        -->
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          
                    <!--Contenu Onglet 1-->
                    <div style="display: flex; align-items: center; justify-content: center;">
                      <div class="card mb-4" style="margin: auto; min-width: 60%; ">
                        <div class="card-body">
                          <form [formGroup]="validateForm" (ngSubmit)="submit()">
                            <div class="card-title mb-3 border-bottom pb-2">Journal des Demandes de Besoins</div>
                            <div class="row">
                              <div class="col-md form-group mb-3">
                                <label >Centre de Consommation</label>
                                <ng-select formControlName="centreCons">
                                  <ng-option [value]="-1">Tous</ng-option>
                                  <ng-option *ngFor = "let cen of centreConsList; inde" [value]="cen.numService">{{cen.codeService}} - {{cen.libService}}</ng-option>
                                </ng-select>
                              </div>
          
                            </div>

                            <div class="row" *ngIf="validateForm.value.centreCons != -1">
                              <div class="col-md form-group mb-1">
                                <label for="sousFa" class="checkbox checkbox-success">
                                  <input type="checkbox" checked formControlName="sousCentreCons" id="sousFa">
                                  <span>Inclure les centres filles</span>
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                            </div>
          
                            <div class="row">
                              <div class="col-md-6 form-group mb-3">
                                <label for="dateDebut">Date de début <span class="required-field">*</span> </label>
                                <input class="form-control" formControlName="dateDebut" id="dateDebut"
                                      placeholder="Entrer le code" type="date" autocomplete="off">
                                <div *ngIf="validateForm.controls.dateDebut.errors &&
                              (validateForm.controls.dateDebut.dirty || validateForm.controls.dateDebut.touched)"
                                    class="error-field">
                                  Ce champs est obligatoire !
                                </div>
                              </div>
                  
                              <div class="col-md-6 form-group mb-3">
                                <label for="dateFin">Date de fin <span class="required-field">*</span> </label>
                                <input class="form-control" formControlName="dateFin" id="dateFin"
                                      placeholder="Entrer le libellé" type="date" autocomplete="off">
                                <div *ngIf="validateForm.controls.dateFin.errors &&
                              (validateForm.controls.dateFin.dirty || validateForm.controls.dateFin.touched)"
                                    class="error-field">
                                  Ce champs est obligatoire !
                                </div>
                              </div>
          
                            </div>
          
                            <div class="row">
                              <div class="col-md-12">
                                <btn-loading btnClass="btn-primary" ngbAutofocus [loading]="loading">Générer</btn-loading>
                                <button (click)="resetForm()" class="btn m-1 ml-2 btn-cancel" type="button"> Annuler</button>
                              </div>
                            </div>
                          </form>
          
          
          
                        </div>
                      </div>
                    </div>
          

        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Placeholder content for the tab panel. This one relates to the messages tab. You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a journey. Just own the night like the 4th of July! But you'd rather get wasted.</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Placeholder content for the tab panel. This one relates to the messages tab. You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a journey. Just own the night like the 4th of July! But you'd rather get wasted.</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Placeholder content for the tab panel. This one relates to the messages tab. You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a journey. Just own the night like the 4th of July! But you'd rather get wasted.</div>
      </div>
    </div>
  </div>

