<div class="">
    <div class="breadcrumb">
        <h1> Gestion des états de stock</h1>
        <ul>
            <li><a href="">Saisie</a></li>
            <li>Etat de stock</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component importation-->
    <div class="row">
      
      <div class="col-md">
        <div class="form-group">
          <input [formControl]="searchControl" class="form-control form-control-rounded"
                 placeholder="Rechercher un Article" type="text" autocomplete="off">
        </div>
      </div>
      <div style="margin: auto;" class="col-md">
        
      </div>
      <form [formGroup]="validateForm" (ngSubmit)="submit()" class = "col-md-2">
        <!--div class="col-md-4 form-group mb-3">
          <label >Magasin</label>
          <ng-select formControlName="magasin" style="width: 500px;" >
            <ng-option *ngFor="let mag of magasinList" [value]="mag.numMagasin">{{mag.codeMagasin}} - {{mag.libMagasin}}</ng-option>

          </ng-select>
        </div>
        <div style="margin: auto;">
          <div class="spinner spinner-success mr-3"></div>
        </div-->
        <div class="col-md-1" style="padding-bottom: 3%;">
          <btn-loading [loading]="loading" btnClass="btn-primary btn-save">Actualiser</btn-loading>
        </div>
        
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="o-hidden">
          
          <ngx-datatable
            [columnMode]="'force'"
            [footerHeight]="50"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="ligneShowFiltered"
            [messages]="{emptyMessage: 'Aucune donnée à afficher !!!'}"
            [limit]="6"
            class="material fullscreen"
            style="box-shadow: none; overflow-y:visible">

            <ngx-datatable-column [maxWidth]="200">
              <ng-template ngx-datatable-header-template>
                Code Article
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.concernedStocker?.article?.codeArticle }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                Désignation
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.concernedStocker?.article?.libArticle }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                Magasin
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.concernedStocker?.article?.famille?.magasin?.codeMagasin }} - {{ row.concernedStocker?.article?.famille?.magasin?.libMagasin }}
              </ng-template>
            </ngx-datatable-column>

            <!--ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                Stock Initial
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                Pas encore
              </ng-template>
            </ngx-datatable-column-->

            <!--ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                Entrées
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                Pas encore
              </ng-template>
            </ngx-datatable-column-->

            <!--ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                Sorties
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                Pas encore
              </ng-template>
            </ngx-datatable-column-->

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                Stock Actuel
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.concernedStocker?.quantiterStocker }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                CUMP
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ salToolsService.salRound(row.concernedStocker?.cmup) }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                Montant
              </ng-template>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ salToolsService.salRound(row.concernedStocker?.quantiterStocker * row.concernedStocker?.cmup)}}
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
</div>
