<div class="">
    <div class="breadcrumb">
        <h1> Gestion des bons servir</h1>
        <ul>
            <li><a href="">Saisie</a></li>
            <li>Bon servir</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component importation-->


    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des Consommations Internes</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <a ngbNavLink>Liste des Consommations Internes</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                           placeholder="Rechercher Consommation Interne" type="text" autocomplete="off">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="o-hidden">
                    <ngx-datatable
                      [columnMode]="'force'"
                      [footerHeight]="50"
                      [headerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]="approFiltered"
                      [messages]="{emptyMessage: 'Aucune donnée à afficher !!!'}"
                      [limit]="4"
                      class="material fullscreen"
                      style="height: 500px; box-shadow: none; overflow-y:visible">

                      <ngx-datatable-column [maxWidth]="50">
                        <ng-template ngx-datatable-header-template>
                          Validité
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <strong *ngIf="row.valideAppro == true">V</strong>
                          <!--<strong *ngIf="row.commande.valide == false">A</strong>-->
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Code
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.numAppro }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Date
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.dateAppro }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          N° Générique
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.descriptionAppro }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Magasin
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ row.magasin.codeMagasin }} - {{ row.magasin.libMagasin }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Centre de Consommation
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ getDemandeApproOfAAppro(row)?.service?.codeService }} - {{ getDemandeApproOfAAppro(row)?.service?.libService }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Demande de Besoin N°
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ getDemandeApproOfAAppro(row)?.numDA }} du {{ getDemandeApproOfAAppro(row)?.dateDA | date: "dd-MM-yyyy à HH:mm:ss" }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Montant Total
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{ salToolsService.salRound(getTotalOfAAppro(row)) }}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Actions
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <!--<strong>{{ row.code }}</strong>-->
                          <button (click)="makeForm(row)" class="btn btn-primary m-1 btn-sm"
                          type="button" *ngIf="row.valideAppro1 == false && authService.hasAccess('saisie_servir_edit')" ngbTooltip="Modifier" placement="bottom">
                            <i class="i-Pen-5"> </i>
                          </button>
                          <!--Validation pour confirmer la saisie de la pièce-->
                          <button (click)="valider1(row, true, modalValid)" class="btn btn-outline-success m-1 btn-sm"
                                  type="button" *ngIf="row.valideAppro1 == false && authService.hasAccess('saisie_servir_valid')" ngbTooltip="Valider" placement="bottom">
                            <i class="i-Yes"> </i>
                          </button>
                          <button (click)="valider1(row, false, modalValid)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" *ngIf="(row.valideAppro1 == true && row.valideAppro == false) && authService.hasAccess('saisie_servir_rollback')" ngbTooltip="Annuler" placement="bottom">
                            <i class="i-Reload"> </i>
                          </button>
                          <!--Validation pour faire la sortie du magasin-->
                          <div *ngIf="row.valideAppro1 == true">
                            <button (click)="valider(row, true, modalValid2)" class="btn btn-outline-success m-1 btn-sm"
                                  type="button" *ngIf="row.valideAppro == false && authService.hasAccess('saisie_servir_valid2')" ngbTooltip="Sortie de Magasin" placement="bottom">
                            <i class="i-Yes"> </i>
                            </button>
                            <button (click)="valider(row, false, modalValid2)" class="btn btn-outline-warning m-1 btn-sm"
                                    type="button" *ngIf="row.valideAppro == true && authService.hasAccess('saisie_servir_rollback2')" ngbTooltip="Retour en Magasin" placement="bottom">
                              <i class="i-Reload"> </i>
                            </button>
                          </div>
                          <button (click)="openDetail(row)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" ngbTooltip="Détail" placement="bottom" *ngIf="authService.hasAccess('saisie_servir_detail')" >
                            <i class="i-Information"> </i>
                          </button>
                          <button (click)="openPdfToPrint(row)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" ngbTooltip="Imprimer" placement="bottom" *ngIf="authService.hasAccess('saisie_servir_print')">
                            <i class="i-File-Download"> </i>
                          </button>

                          <button (click)="openPdfToPrintTicket(row)" class="btn btn-outline-warning m-1 btn-sm"
                                  type="button" ngbTooltip="Ticket de Caisse" placement="bottom" *ngIf="authService.hasAccess('saisie_servir_print')">
                            <i class="i-File-Download"> </i>
                          </button>
                          
                          <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1 btn-sm"
                                  type="button" *ngIf="row.valideAppro == false && authService.hasAccess('saisie_servir_delete')" ngbTooltip="Supprimer" placement="bottom">
                            <i class="i-Folder-Trash"> </i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>



          <li [ngbNavItem]="2">
            <a ngbNavLink><span *ngIf="! validateForm.value.numAppro">Nouvelle</span><span *ngIf="validateForm.value.numAppro && detailView == false" span>Modifier</span> <span *ngIf="validateForm.value.numAppro && detailView == true" span>Détail sur</span> Consommation Interne</a>
            <ng-template ngbNavContent>

              <div class="mb-2">
                <div class="d-flex mb-5" style="margin-bottom: 0;">
                  <span class="m-auto"></span>
                  <btn-loading btnClass="btn-primary btn-save mr-3" [loading]="loading" (click)="submit()" *ngIf="!detailView  && authService.hasAccess('saisie_servir_new')" >Enregistrer</btn-loading>
                  <button class="btn btn-outline-secondary" (click)="resetForm()"><span *ngIf="!detailView">Annuler</span> <span *ngIf="detailView">Fermer</span></button>
                </div>
                <form [formGroup]="validateForm">
                  <h4 class="font-weight-bold">Informations sur la Consommation Interne</h4>
                  <div class="row">
                      <div class="col-md" *ngIf="validateForm.value.numAppro">
                          <div class="col-md form-group">
                              <label for="orderNo">Numéro</label>
                              <input formControlName="numAppro" type="text" class="form-control"
                                  placeholder="Numéro" readonly>
                          </div>
                      </div>
                      <div class="col-md form-group mb-3">
                        <label >Demande de Besoin</label>
                        <ng-select formControlName="numDA" [readonly]="validateForm.value.numAppro"
                        (ngModelChange)="getInfosOnDaSelected()" >
                        <div *ngFor="let da of demandeApproList">
                          <ng-option *ngIf="!isADemApproSitisfaied(da) && da.valideDA" [value]="da.numDA">{{da.numDA}} du {{da.dateDA | date: "dd-MM-yyyy à HH:mm:ss"}} ( {{ da.service.codeService }} - {{ da.service.libService }} )</ng-option>
                        </div>

                        </ng-select>
                      </div>
                      <div class="col-md-3 form-group mb-3">
                        <label for="picker1">Date</label>
                        <div class="input-group">
                            <input formControlName="dateAppro" id="picker1" class="form-control text-right" type="date"
                            [readOnly]="detailView"  >

                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md form-group">
                      <label for="orderNo">N° Générique</label>
                      <input formControlName="description" type="text" class="form-control"
                          placeholder="Numéro" [readOnly]="detailView">

                    </div>

                    <div class="col-md form-group mb-3">
                      <label >Magasin</label>
                      <ng-select formControlName="magasin" (ngModelChange)="emptyLigneShow()" [readonly]="detailView">
                        <ng-option *ngFor="let mag of magasinList2" [value]="mag.numMagasin">{{mag.codeMagasin}} - {{mag.libMagasin}}</ng-option>
                      </ng-select>
                    </div>

                  </div>
                </form>
                  <div class="mt-3 mb-4 border-top"></div>
                  <h4 class="font-weight-bold">Détails sur la Consommation Interne</h4>

                  <div class="row">
                      <div class="col-md-12 table-responsive">
                          <table class="table table-hover mb-3">
                              <thead class="bg-gray-300">
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Article</th>
                                      <th scope="col">Quantité</th>
                                      <th scope="col">Unité</th>
                                      <th scope="col">Qté Demandée</th>
                                      <th scope="col">Qté Restante</th>
                                      <th scope="col">Disponibilité</th>
                                      <th scope="col">Coût Unitaire</th>
                                      <th scope="col">Montant</th>
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let lig of ligneShow; let i = index;"
                                      >
                                      <th scope="row">{{i + 1}}</th>
                                      <td>
                                        <ng-select [(ngModel)]="lig.selectedArticl" (ngModelChange)="getInfosOfSelectArt(i)"
                                        (click)="onArticleSelectClicked(i)" style="min-width: 180px;" [readonly]="detailView">
                                          <ng-option *ngFor="let art of lig.listArticle" [value]="art.numArticle"
                                           >{{art.codeArticle}} - {{art.libArticle}}</ng-option>
                                        </ng-select>
                                      </td>
                                      <td>
                                        <input type="number" class="form-control" [(ngModel)] = "lig.ligneAppro.quantiteLigneAppro"
                                        [ngStyle]="{'background-color': (lig.concernedStocker?.quantiterStocker < (lig.ligneAppro.quantiteLigneAppro*lig.concernedLigneDa?.uniter.poids) 
                                        || lig.concernedLigneDa?.quantiteDemandee < lig.ligneAppro.quantiteLigneAppro 
                                        || lig.qteRest < lig.ligneAppro.quantiteLigneAppro)
                                        || lig.ligneAppro.quantiteLigneAppro <= 0 ? 'rgb(255, 172, 172)': null}"
                                            placeholder="Quantité" (change)="calculTotaux()" [readOnly]="detailView">
                                      </td>
                                      <td>
                                        {{lig.concernedLigneDa?.uniter?.codeUniter}} - {{lig.concernedLigneDa?.uniter?.libUniter}}
                                      </td>
                                      <td>
                                        {{lig.concernedLigneDa?.quantiteDemandee}}
                                      </td>
                                      <td>
                                        {{lig.qteRest - lig.ligneAppro.quantiteLigneAppro}}
                                      </td>
                                      <td>
                                        {{lig.concernedStocker?.quantiterStocker}}
                                      </td>
                                      <td>
                                        {{salToolsService.salRound(lig.ligneAppro.puligneAppro)}}
                                      </td>
                                      <td>
                                        {{salToolsService.salRound(lig.ligneAppro.puligneAppro * lig.ligneAppro.quantiteLigneAppro*lig.concernedLigneDa?.uniter.poids)}}
                                      </td>
                                      <td>
                                          <button class="btn btn-outline-secondary float-right" (click)="popALigneAppro(i)" *ngIf="!detailView">Retirer</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <button class="btn btn-primary float-right mb-4" (click)="pushALigneAppro()"
                          [disabled]="!(validateForm.value.magasin && validateForm.value.numDA)" *ngIf="!detailView" >Ajouter une ligne</button>
                      </div>

                      <div class="col-md-12">

                        <div class="float-right">

                            <h5 class="font-weight-bold d-flex align-items-center">Total Montant TTC &nbsp; : &nbsp; <span> {{ salToolsService.salRound(totaux[0]) }} </span> &nbsp; F CFA</h5>
                        </div>
                    </div>

                  </div>

              </div>

            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>

</div>

<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la suppression de
        <span class="text-primary">{{ appro?.numAppro }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Cancel
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Ok
    </button>
  </div>
</ng-template>


<ng-template #modalValid let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == true">Validation</h4>
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali == false">Annulation</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous <strong class="text-success" *ngIf="etatVali == true">la Validation</strong>
      <strong class="text-danger" *ngIf="etatVali == false">l'Annulation</strong> de la pièce ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">NON
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">OUI
    </button>
  </div>
</ng-template>

<ng-template #modalValid2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali2 == true">Sortie</h4>
    <h4 class="modal-title" id="modal-title" *ngIf="etatVali2 == false">Retour</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous <strong class="text-success" *ngIf="etatVali2 == true">la Sortie</strong>
      <strong class="text-danger" *ngIf="etatVali2 == false">le retour</strong> des articles du magasin ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">NON
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">OUI
    </button>
  </div>
</ng-template>


