<div class="">
    <div class="breadcrumb">
        <h1> Gestion des Unités</h1>
        <ul>
            <li><a href="">Definition</a></li>
            <li>Unité</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component magasin-->
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des Unités de Comptage</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <a ngbNavLink>Liste des Unités de Comptage</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                           placeholder="Rechercher Unité" type="text" autocomplete="off">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="o-hidden">
                    <ngx-datatable
                      [columnMode]="'force'"
                      [footerHeight]="50"
                      [headerHeight]="50"
                      [rowHeight]="'auto'"
                      [rows]="uniteFiltered"
                      [limit]="4"
                      class="material striped"
                      style="height: 500px; box-shadow: none; overflow-y:visible">
                      <ngx-datatable-column name="codeUniter">
                        <ng-template ngx-datatable-header-template>
                          Code
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="libUniter">
                        <ng-template ngx-datatable-header-template>
                          Libellé
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="poids">
                        <ng-template ngx-datatable-header-template>
                          Poids
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Actions
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <!--<strong>{{ row.code }}</strong>-->
                          <button (click)="makeForm(row)" class="btn btn-primary m-1 btn-sm" type="button" *ngIf="authService.hasAccess('def_unit_compt_edit')">
                            <i class="i-Pen-5"> </i>
                          </button>
                          <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1 btn-sm"
                                  type="button" *ngIf="authService.hasAccess('def_unit_compt_delete')">
                            <i class="i-Folder-Trash"> </i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink><span *ngIf="! validateForm.value.numUniter">Nouvelle</span><span *ngIf="validateForm.value.numUniter" span>Modifier</span> Unité de Comptage</a>
            <ng-template ngbNavContent>

              <div class="mb-2">
                <form (ngSubmit)="submit()" [formGroup]="validateForm">
                  <div class="row">
                    <div class="col-md-4 form-group mb-3">
                      <label for="code">Code <span class="required-field">*</span> </label>
                      <input class="form-control" formControlName="codeUniter" id="codeUniter"
                             placeholder="Entrer le code" type="text" autocomplete="off">
                      <div *ngIf="validateForm.controls.codeUniter.errors &&
                     (validateForm.controls.codeUniter.dirty || validateForm.controls.codeUniter.touched)"
                           class="error-field">
                        Ce champs est obligatoire !
                      </div>
                    </div>

                    <div class="col-md-4 form-group mb-3">
                      <label for="valeur">Libellé <span class="required-field">*</span> </label>
                      <input class="form-control" formControlName="libUniter" id="libUniter"
                             placeholder="Entrer le libellé" type="text" autocomplete="off">
                      <div *ngIf="validateForm.controls.libUniter.errors &&
                     (validateForm.controls.libUniter.dirty || validateForm.controls.libUniter.touched)"
                           class="error-field">
                        Ce champs est obligatoire !
                      </div>
                    </div>

                    <div class="col-md-4 form-group mb-3">
                      <label for="valeur">Poids <span class="required-field">*</span> </label>
                      <input class="form-control" formControlName="poids" id="poids"
                             placeholder="Entrer le poids" type="text" autocomplete="off">
                      <div *ngIf="validateForm.controls.poids.errors &&
                     (validateForm.controls.poids.dirty || validateForm.controls.poids.touched)"
                           class="error-field">
                        Ce champs est obligatoire !
                      </div>
                    </div>

                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <btn-loading [loading]="loading" btnClass="btn-primary btn-save"  *ngIf="authService.hasAccess('def_unit_compt_new')">Enregistrer</btn-loading>
                      <button (click)="resetForm()" class="btn m-1 ml-2 btn-cancel" type="button"> Annuler</button>
                    </div>
                  </div>

                </form>
              </div>

            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>


</div>



<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la suppression de
        <span class="text-primary">{{ unite?.codeUniter }} - {{ unite?.libUniter }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Confirmer
    </button>
  </div>
</ng-template>
