<div class="">
  <div class="breadcrumb">
    <h1>Utilisateurs</h1>
    <ul>
      <li><a routerLink="/gestion/utilisateur">Administration</a></li>
      <li>Utilisateur</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="card mb-4">
    <div class="card-body">
      <div class="card-title mb-3 border-bottom pb-2">Gestion des utilisateurs</div>

      <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
        <li [ngbNavItem]="1">
          <a ngbNavLink>Liste des utilisateurs</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                         placeholder="Rechercher Utilisateur" type="text" autocomplete="off">
                </div>
              </div>
              <div class="col-md-12">
                <div class="o-hidden">
                  <ngx-datatable
                    [columnMode]="'force'"
                    [footerHeight]="50"
                    [headerHeight]="50"
                    [rowHeight]="60"
                    [messages]="{emptyMessage: 'Aucune donnée à afficher !!!'}"
                    [rows]="userFiltered"
                    class="material fullscreen"
                    style="height: 500px; box-shadow: none">
                    <ngx-datatable-column name="nomUtilisateur">
                      <ng-template ngx-datatable-header-template>
                        Nom
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="prenomUtilisateur">
                      <ng-template ngx-datatable-header-template>
                        Prénoms
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                      <ng-template ngx-datatable-header-template>
                        Actions
                      </ng-template>
                      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <!--<strong>{{ row.code }}</strong>-->
                        <button (click)="makeForm(row)" class="btn btn-primary m-1" 
                        type="button" *ngIf="authService.hasAccess('param_user_edit')">
                          <i class="i-Pen-5"> </i>
                        </button>
                        <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1"
                                type="button" *ngIf="authService.hasAccess('param_user_delete')">
                          <i class="i-Folder-Trash"> </i>
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink><span *ngIf="! validateForm.value.idUtilisateur">Nouvel</span><span *ngIf="validateForm.value.idUtilisateur" span>Modifier</span> utilisateur</a>
          <ng-template ngbNavContent>

            <div class="mb-2">
              <form (ngSubmit)="submit()" [formGroup]="validateForm">
                <div class="row">

                  <div class="col-md-6 form-group mb-3">

                    <label for="fonction">Civilité de l'utilisateur</label>
                    <ng-select bindLabel="libCivilite" formControlName="civilite" id="civilite" placeholder="-- sélectionner --">
                      <!--option *ngFor="let civilite of civiliteList" [value]="civilite.id">{{civilite.libelle}}</option-->
                      <ng-option *ngFor="let civilite of civiliteList" [value]="civilite">{{civilite.codeCivilite}} - {{civilite.libCivilite}}</ng-option>
                    </ng-select>
                  </div> 

                  <div class="col-md-6 form-group mb-3">
                    <label for="nomUtilisateur">Nom  <span class="required-field">*</span></label>
                    <input type="text" class="form-control" id="nomUtilisateur" autocomplete="off"
                           placeholder="Entrer le nom de l'utilisateur"  formControlName="nomUtilisateur">
                    <div class="error-field"
                         *ngIf="validateForm.controls.nomUtilisateur.errors &&
                   (validateForm.controls.nomUtilisateur.dirty || validateForm.controls.nomUtilisateur.touched)">
                      Ce champs est obligatoire !
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <label for="prenomUtilisateur">Prénom  <span class="required-field">*</span></label>
                    <input type="text" class="form-control" id="prenomUtilisateur" autocomplete="off"
                           placeholder="Entrer le prénom de l'utilisateur"  formControlName="prenomUtilisateur">
                    <div class="error-field"
                         *ngIf="validateForm.controls.prenomUtilisateur.errors &&
                   (validateForm.controls.prenomUtilisateur.dirty || validateForm.controls.prenomUtilisateur.touched)">
                      Ce champs est obligatoire !
                    </div>
                  </div>

                  <!--div class="col-md-6 form-group mb-3">
                    <label for="profession">Corps de l'utilisateur</label>
                    <ng-select bindLabel="libProfession" formControlName="profession" id="profession" placeholder="-- sélectionner --">
                      <ng-option *ngFor="let corps of corpsList" [value]="corps.id">{{corps.libelle}}</ng-option>
                      <ng-option *ngFor="let profession of professionList" [value]="profession">{{profession.codeProfession}} - {{profession.libProfession}}</ng-option>
                    </ng-select>
                  </div-->
                  <div class="col-md-6 form-group mb-3">
                    <label for="service">Centre de Consommation de l'Utilisateur</label>
                    <ng-select bindLabel="libService" formControlName="service" id="service" placeholder="-- sélectionner --">
                      <!--ng-option *ngFor="let serviceJuridique of serviceList" [value]="serviceJuridique.id">{{serviceJuridique.libelle}}</ng-option-->
                      <ng-option *ngFor="let service of centreConsommationList" [value]="service">{{service.codeService}} - {{service.libService}}</ng-option>
                    </ng-select>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-4 form-group mb-3">
                    <label for="profession">Corps de l'utilisateur</label>
                    <ng-select bindLabel="libProfession" formControlName="profession" id="profession" placeholder="-- sélectionner --">
                      <!--ng-option *ngFor="let corps of corpsList" [value]="corps.id">{{corps.libelle}}</ng-option-->
                      <ng-option *ngFor="let profession of professionList" [value]="profession">{{profession.codeProfession}} - {{profession.libProfession}}</ng-option>
                    </ng-select>
                  </div>

                  <div class="col-md-5 form-group mb-3">
                    <label for="fonction">Fonction de l'utilisateur</label>
                    <ng-select bindLabel="libFonction"  formControlName="fonction" id="fonction" placeholder="-- sélectionner --">
                      <!--ng-option *ngFor="let fonction of fonctionList" [value]="fonction.id">{{fonction.libelle}}</ng-option-->
                      <ng-option *ngFor="let fonction of fonctionList" [value]="fonction">{{fonction.codeFonction}} - {{fonction.libFonction}}</ng-option>
                    </ng-select>
                  </div>

                  
                  <div class="col-md-3 form-group mb-3">
                    <label for="login">Login  <span class="required-field">*</span></label>
                    <input type="text" class="form-control" id="login"placeholder="Entrer le login de l'utilisateur"  formControlName="login" autocomplete="off">
                    <div class="error-field"*ngIf="validateForm.controls.login.errors && (validateForm.controls.login.dirty || validateForm.controls.login.touched)">
                      Ce champs est obligatoire !
                    </div>
                  </div>
                </div>

                <div class="row">
           

                  <div class="col-md-3 form-group mb-3" *ngIf=" !validateForm.value.idUtilisateur">
                    <label for="motDePass">Mot de passe</label>
                    <input type="password" class="form-control" id="motDePass" placeholder="Entrer le mot de passe de l'utilisateur"  formControlName="motDePass" autocomplete="off">
                  </div>

                  <div class="col-md-3 form-group mb-3" *ngIf=" !validateForm.value.idUtilisateur">
                    <label for="password_confirmation">Mot de passe (Confirmation)</label>
                    <input type="password" class="form-control" id="password_confirmation" placeholder="Confirmer le mot de passe"  formControlName="password_confirmation" autocomplete="off">
                  </div>

                  <div class="form-check form-check-inline mr-3">
                    <input class="form-check-input" type="checkbox" id="activeUtilisateur"
                      formControlName="activeUtilisateur">
                    <label class="form-check-label" for="activeUtilisateur">Activer Compte</label>
                  </div>

                  <div class="form-check form-check-inline mr-3">
                    <input class="form-check-input" type="checkbox" id="askMdp1erLance"
                      formControlName="askMdp1erLance">
                    <label class="form-check-label" for="askMdp1erLance">Mot de Passe (Prémière connexion)</label>
                  </div>

                  <div class="form-check form-check-inline mr-3">
                    <input class="form-check-input" type="checkbox" id="accesChildService"
                      formControlName="accesChildService">
                    <label class="form-check-label" for="accesChildService">Accès Centre Conso. enfants </label>
                  </div>
                 
                </div>

                <!--div class="row">

                  <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="checkbox" id="activeUtilisateur"
                      formControlName="activeUtilisateur">
                    <label class="form-check-label" for="activeUtilisateur">Stockable</label>
                  </div>

                </div-->

                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label for="groupUser">Groupe utilisateur</label>
                    <ng-select formControlName="groupUser"  [multiple]="true" id="groupUser" (click)="choixPushPup()" placeholder="-- sélectionner --">
                      <ng-option *ngFor="let userGroup of userGroupList" [value]="userGroup.numGroupUser">{{userGroup.idGroupUser}} - {{userGroup.libGroupUser}}</ng-option>
                    </ng-select>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label for="groupUser">Magasin</label>
                    <ng-select formControlName="magasins"  [multiple]="true" id="magasins" (click)="choixPushPupMagasins()" placeholder="-- sélectionner --">
                      <ng-option *ngFor="let magasin of magasinList" [value]="magasin.numMagasin">{{magasin.codeMagasin}} - {{magasin.libMagasin}}</ng-option>
                    </ng-select>
                  </div>
                  <div class="col-md-12">
                    <btn-loading [loading]="loading" btnClass="btn-primary btn-save" *ngIf="authService.hasAccess('param_user_new')">Enregistrer</btn-loading>
                    <button (click)="resetForm()" class="btn m-1 ml-2 btn-cancel" type="button"> Annuler</button>
                  </div>
                </div>
              </form>
            </div>

          </ng-template>
        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>
  </div>

</div>


<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous le retrait de
        <span class="text-primary"> {{ user?.nomUtilisateur }}  {{ user?.prenomUtilisateur }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
    </button>
    <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
            type="button">Confirmer
    </button>
  </div>
</ng-template>
