<div class="">
  <div class="breadcrumb">
    <h1>Fonctions</h1>
    <ul>
      <li><a routerLink="/gestion/parametrage">Paramétrage</a></li>
      <li>Fonctions</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>


  <div class="card mb-4">
    <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des fonctions</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
            <li [ngbNavItem]="1">
                <a ngbNavLink>Liste des fonctions</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [formControl]="searchControl" class="form-control form-control-rounded" id="model" placeholder="Rechercher Fonction" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card  o-hidden">
                              <ngx-datatable
                                style="height: 500px; box-shadow: none; overflow-y:visible"
                                class="material fullscreen"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="60"
                                [messages]="{emptyMessage: 'Aucune donnée à afficher !!!'}"
                                [rows]="fonctionFiltered">
                                <ngx-datatable-column name="codeFonction">
                                  <ng-template ngx-datatable-header-template>
                                    Code
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="libFonction">
                                  <ng-template ngx-datatable-header-template>
                                    Libellé
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                  <ng-template ngx-datatable-header-template>
                                    Actions
                                  </ng-template>
                                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                    <!--<strong>{{ row.code }}</strong>-->
                                    <button type="button"  class="btn btn-primary m-1" (click)="makeForm(row)" title="Modifier" *ngIf="authService.hasAccess('param_fonct_edit')">
                                      <i class="i-Pen-5"> </i>
                                    </button>
                                    <button type="button"  title="Supprimer" class="btn btn-outline-danger m-1"
                                            (click)="confirm(modalConfirm, row)" *ngIf="authService.hasAccess('param_fonct_delete')">
                                      <i class="i-Folder-Trash"> </i>
                                    </button>
                                  </ng-template>
                                </ngx-datatable-column>
                              </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink><span *ngIf="! validateForm.value.numFonction">Nouvelle</span><span *ngIf="validateForm.value.numFonction" span>Modifier</span> fonction</a>
                <ng-template ngbNavContent>

                    <div class="mb-2">
                        <form [formGroup]="validateForm" (ngSubmit)="submit()">
                            <div class="row">
                              <div class="col-md-12 form-group mb-3">
                                <label for="codeFonction">Code <span class="required-field">*</span></label>
                                <input type="text" class="form-control" id="codeFonction"
                                       placeholder="Entrer le code" formControlName="codeFonction" autocomplete="off">
                                <div class="error-field"
                                     *ngIf="validateForm.controls.codeFonction.errors &&
                                   (validateForm.controls.codeFonction.dirty || validateForm.controls.codeFonction.touched)">
                                  Ce champs est obligatoire !
                                </div>
                              </div>
                
                              <div class="col-md-12 form-group mb-3">
                                <label for="libFonction">Libellé <span class="required-field">*</span></label>
                                <input type="text" class="form-control" id="libFonction"
                                       placeholder="Entrer le libellé"  formControlName="libFonction" autocomplete="off">
                                <div class="error-field"
                                     *ngIf="validateForm.controls.libFonction.errors &&
                                   (validateForm.controls.libFonction.dirty || validateForm.controls.libFonction.touched)">
                                  Ce champs est obligatoire !
                                </div>
                              </div>
                
                              <div class="col-md-12">
                                <btn-loading btnClass="btn-primary btn-save"  [loading]="loading" *ngIf="authService.hasAccess('param_fonct_new')">Enregistrer</btn-loading>
                                <button type="button" class="btn btn-secondary m-1 btn-rounded" (click)="resetForm()"> Annuler </button>
                              </div>
                            </div>
                          </form>
                    </div>

                </ng-template>
            </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>
</div>
</div>


<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Confirmez-vous la suppression de
        <span class="text-primary"> {{ fonction?.libFonction }}</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Annuler</button>
    <button type="button" ngbAutofocus class="btn btn-danger btn-rounded"
            (click)="modal.close('Ok')">Confirmer</button>
  </div>
</ng-template>
