<div class="">
    <div class="breadcrumb">
      <h1>Gestion des centres de consommations</h1>
      <ul>
        <li><a routerLink="">Définition</a></li>
        <li>Centre de consommation</li>
      </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>

    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3 border-bottom pb-2">Gestion des centres de consommation</div>

        <ul #nav="ngbNav" [(activeId)]="activeTabsNav" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <a ngbNavLink>Liste des centres de consommation</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input [formControl]="searchControl" class="form-control form-control-rounded" id="email"
                           placeholder="Rechercher centre de consommation" type="email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="o-hidden">
                    <ngx-datatable
                      [columnMode]="'force'"
                      [footerHeight]="50"
                      [headerHeight]="50"
                      [rowHeight]="'auto'"
                      [messages]="{emptyMessage: 'Aucune donnée à afficher !!!'}"
                      [rows]="centreConsommationFiltered"
                      [limit]="4"
                      class="material striped"
                      style="height: 500px; box-shadow: none; overflow-y:visible">
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Code
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.codeService }}
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Libellé
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.libService }}
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Catégorie Centre conso.
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.typeService.libTypService }}
                          </ng-template>
                      </ngx-datatable-column>
                      <!--ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Direction
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.direction.libDirection }}
                          </ng-template>
                      </ngx-datatable-column-->
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Super Centre conso.
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row.superService != null ? row.superService.libService : '' }}
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          Actions
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <!--<strong>{{ row.code }}</strong>-->
                          <button (click)="makeForm(row)" class="btn btn-primary m-1 btn-sm" ngbTooltip="Modifier" placement="bottom" type="button"  *ngIf="authService.hasAccess('def_centr_cons_edit')">
                            <i class="i-Pen-5"> </i>
                          </button>
                          <button (click)="confirm(modalConfirm, row)" class="btn btn-outline-danger m-1 btn-sm"
                                  type="button" ngbTooltip="Supprimer" placement="bottom"  *ngIf="authService.hasAccess('def_centr_cons_delete')">
                            <i class="i-Folder-Trash"> </i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Nouveau centre de consommation</a>
            <ng-template ngbNavContent>

              <div class="mb-2">
                <form (ngSubmit)="submit()" [formGroup]="validateForm">
                  <div class="row">
                    <div class="col-md-6 form-group mb-3">
                      <label for="code">Code <span class="required-field">*</span> </label>
                      <input class="form-control" formControlName="codeService" id="codeService"
                             placeholder="Entrer le code" type="text" autocomplete="off">
                      <div *ngIf="validateForm.controls.codeService.errors &&
                     (validateForm.controls.codeService.dirty || validateForm.controls.codeService.touched)"
                           class="error-field">
                        Ce champs est obligatoire !
                      </div>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                      <label for="valeur">Libellé <span class="required-field">*</span> </label>
                      <input class="form-control" formControlName="libService" id="libService"
                             placeholder="Entrer le libellé" type="text" autocomplete="off">
                      <div *ngIf="validateForm.controls.libService.errors &&
                     (validateForm.controls.libService.dirty || validateForm.controls.libService.touched)"
                           class="error-field">
                        Ce champs est obligatoire !
                      </div>
                    </div>
                    </div>
                    <div class="row">
                        <!--div class="col-md-4 form-group mb-3">
                            <label for="direction">Direction<span class="required-field">*</span></label>
                            <ng-select bindLabel="libDirection" id="direction" formControlName="direction" placeholder="Entrer la direction"-->
                              <!--option [ngValue]="null">-- section parent -- </option-->
                              <!--ng-option *ngFor="let direction of directionList" [value]="direction">{{direction.libDirection}}</ng-option>
                            </ng-select>
                            <div *ngIf="validateForm.controls.direction.errors &&
                                (validateForm.controls.direction.dirty || validateForm.controls.direction.touched)"
                                  class="error-field">
                               Ce champs est obligatoire !
                        </div>
                        </div-->

                        <div class="col-md-6 form-group mb-3">
                            <label for="typeService">Catégorie de centre de Consommation <span class="required-field">*</span></label>
                            <ng-select bindLabel="libTypService"  id="typeService" formControlName="typeService" placeholder="Entrer le type de centre de consommation">
                              <!--option [ngValue]="null">-- section parent -- </option-->
                              <ng-option *ngFor="let typeCentreconso of typeCentreConsommationList" [value]="typeCentreconso">{{typeCentreconso.libTypService}}</ng-option>
                            </ng-select>
                            <div *ngIf="validateForm.controls.typeService.errors &&
                                (validateForm.controls.typeService.dirty || validateForm.controls.typeService.touched)"
                                class="error-field">
                           Ce champs est obligatoire !
                    </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="superService">Super Centre de consommation</label>
                            <ng-select bindLabel="libService"  id="superService" formControlName="superService" placeholder="Entrer le Super Centre de Consomation">
                              <!--ng-option [ngValue]="null">-- Centre de consommation parent -- </ng-option-->
                              <ng-option *ngFor="let centreConso of centreConsommationList" [value]="centreConso">{{centreConso.libService}}</ng-option>
                            </ng-select>
                        </div>

                        <div class="col-md-12">
                        <btn-loading [loading]="loading" btnClass="btn-save"  *ngIf="authService.hasAccess('def_centr_cons_new')">Enrégistrer</btn-loading>
                        <button (click)="resetForm()" class="btn m-1 ml-2 btn-cancel" type="button"> Annuler</button>
                        </div>
                  </div>
                </form>
              </div>

            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>

  </div>


  <ng-template #modalConfirm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Suppression</h4>
      <button (click)="modal.dismiss('Cross click')" aria-describedby="modal-title" aria-label="Close button"
              class="close"
              type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        <strong>Confirmez-vous la suppression de
          <span class="text-primary"> {{ centreConsommation?.libService }}</span> ?</strong></p>
    </div>
    <div class="modal-footer">
      <button (click)="modal.dismiss('cancel')" class="btn btn-outline-secondary btn-rounded" type="button">Annuler
      </button>
      <button (click)="modal.close('Ok')" class="btn btn-danger btn-rounded" ngbAutofocus
              type="button">Confirmer
      </button>
    </div>
  </ng-template>
