<div class="">
    <div class="breadcrumb">
        <h1> Gestion des Stocks Initial</h1>
        <ul>
            <li><a href="">Saisie</a></li>
            <li>stock Initial</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!--Contenu component importation-->
    <div class="row">
      <form [formGroup]="validateForm" (ngSubmit)="submit()" class = "row">
        <div class="col-md-4 form-group mb-3">
          <label >Magasin</label>
          <ng-select formControlName="magasin" style="width: 500px;" >
            <ng-option *ngFor="let mag of magasinList" [value]="mag.numMagasin">{{mag.codeMagasin}} - {{mag.libMagasin}}</ng-option>
              
          </ng-select>
        </div>
        <div style="margin: auto;">

        </div>
        <div class="col-md-1" style="padding-top: 3%;">
          <btn-loading [loading]="loading" btnClass="btn-save">Afficher</btn-loading>
        </div>
      </form>
    </div>
    <div class="row">
   
    </div>
    
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-hover mb-3">
                <thead class="bg-gray-300">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Article</th>
                        <th scope="col">Désignation</th>
                        <th scope="col">Stock Initial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ligArticle of articleInitial; let i = index;">
                        <th scope="row">{{i + 1}}</th>
                        <td>
                
                          {{ligArticle.codeArticle}} 
                        </td>
                        <td>
                            {{ligArticle.libArticle}}
                        </td>
                        <td>
                          <input type="number" class="form-control" [(ngModel)] = "ligArticle.qteStIniTres"
                              placeholder="Stock Initial" >
                        </td>
                        
                       
                        
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary float-right mb-4" (click)="savedStockInitial()"  [disabled]="validateForm.valid == false">Enrégistrer</button>

        </div>


    </div>
</div>
